/* WORK WITH TUTOR TO FIGURE OUT HOW TO GET A STICKY FOOTER */
html {
    height: 100%;
}

body {
    background-image: url("images/funky-lines.png");
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    height: 100%;
}
.navbar {
    border-bottom: 2px solid #393F44;                 
}
.navbar-brand {
    background-color: #4aaaa5;
}
h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}
.navRow {
    width: 100%;
}
.navBar-toggler {
    align-items: none;
    float: right;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #DD524A;
    font-size: 25px;
    
}
.first-row {
    border-bottom: 2px solid #cccccc;

}


.container1 {
    background-color: #ffffff;
    border: 1px solid #393F44; 
    margin-bottom: 80px; /*need this because pb-5 isn't big enough*/
}
button[type=submit]:hover {
    background-color: #cccccc;
    color: #393F44;
}
.btn-primary {
    background-color: #4aaaa5;
    color: #ffffff;
    border-color: #393F44;
}


.footer-copyright {
    display: block;
    height: 50px;
    font-weight: 100;
    color: #cccccc;
    font-size: 12px;
}
.footer {
    position: sticky;
    bottom: 0px;
    height: 60px;
    background-color: #393F44;
    border-top: 5px solid #4aaaa5;
    display: block;
    margin-bottom: -60px;
}
#wrap {
    min-height: 100%;
}
#main {
        overflow:auto;
        padding-bottom:65px; /* this needs to be bigger than footer height*/
    
}


/* PORTFOLIO ONLY CONTENT */
.btn-lrg {
    width: 100%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    background-color: #4aaaa5;
    margin-top: 46%;
    border-radius: 0px;
    color: #ffffff;
    line-height: 2.6;
}
.btn-lrg:hover {
    background-color: #3b8884;
}

.menuIcon {
    width: 100px;
    height: 100px;
}

.project-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
